name: workflow.yml
on:
  push:

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Hello World Action
        uses: actions/hello-world-docker-action@v1
        with:
          who-to-greet: 'Mona the Octocat'
