name: workflow.yml
on:
  push:

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Hello World Action
        uses: actions/hello-world-docker-action@v1
        with:
          who-to-greet: 'Mona the Octocat'
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v45